.projects-container {
    height: 680px;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 80px;
    padding: 0px 70px 0px 70px;
    gap: 20px;
}

.projects-cards-container {
  	display: flex;
  	flex-direction: row;
  	gap: 20px;
}

@media (width >= 300px) and (width <= 768px) {
  
  	.projects-container {
		height: auto;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 40px;
		margin-bottom: 55px;
		margin-left: 40px;
		margin-right: 40px;
		padding: 0px 10px 0px 10px;
  	}

  	.projects-cards-container {
		height: auto;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
    	margin-left: 10px;
    	margin-right: 10px;
    	margin-bottom: 10px;
		gap: 40px;
  	}

}

@media (width >= 769px) and (width <= 1000px) {

	.projects-container {
		height: auto;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 40px;
		margin-bottom: 55px;
		margin-left: 240px;
		margin-right: 240px;
		padding: 0px 10px 0px 10px;
  	}

  	.projects-cards-container {
		height: auto;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
    	margin-left: 10px;
    	margin-right: 10px;
    	margin-bottom: 10px;
		gap: 40px;
  	}

}