.projects-container {
    height: 680px;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 80px;
    padding: 0px 70px 0px 70px;
    gap: 20px;
}

.projects-cards-container {
  	display: flex;
  	flex-direction: row;
  	gap: 20px;
}

@media (width >= 300px) and (width <= 700px) {
  
  	.projects-container {
		width: auto;
		display: flex;
		flex-direction: column;
		margin-top: 800px;
		margin-bottom: 40px;
		margin-left: 40px;
		margin-right: 40px;
		padding: 0px 10px 0px 10px;
		align-items: center;
		justify-content: center;
  	}

  	.projects-cards-container {
		width: auto;
		display: flex;
		flex-direction: column;
		margin-top: 10px;
    	margin-left: 10px;
    	margin-right: 10px;
    	margin-bottom: 10px;
		align-items: center;
		justify-content: center;
		gap: 40px;
  	}

}