.menu-container {
    color: rgb(227, 199, 255);
    height: 50px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
  }
  
.menu-items {
    width: 625px;
    font-size: 14px;
    letter-spacing: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.menu-items-minors {
    width: 575px;
    color: rgb(227, 199, 255);
    font-size: 10px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 22px;
    margin-bottom: 30px;
}
  
.menu-item:hover {
    color: #D4FFFF;
    transition: 0.5s;
    transform: scale(110%);
}
  
.menu-logo {
    height: 30px;
    width: 100px;
}
  
.menu-logo-item{
    margin-bottom: 5px;
}

@media (width >= 300px) and (width <= 768px) {

    .menu-container {
        height: 100px;
        width: auto;
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
      }

      .menu-items {
        width: 100%;
        font-size: 10px;
        letter-spacing: 0.8px;
        margin-bottom: 7px;
    }
      
    .menu-items-minors {
        width: 100%;
        font-size: 7px;
        letter-spacing: 0.5px;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .menu-logo {
        height: 100px;
        width: 320px;
    }
    
    .menu-logo-item{
        height: 24px;
        width: 120px;
        justify-content: flex-start;
        
    }

}

@media (width >= 769px) and (width <= 1000px) {

    .menu-container {
        height: 100px;
        width: auto;
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
      }

      .menu-items {
        width: 100%;
        font-size: 10px;
        letter-spacing: 0.8px;
        margin-bottom: 7px;
    }
      
    .menu-items-minors {
        width: 100%;
        font-size: 7px;
        letter-spacing: 0.5px;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .menu-logo {
        height: 100px;
        width: 320px;
    }
    
    .menu-logo-item{
        height: 24px;
        width: 120px;
        justify-content: flex-start;
        
    }

}