.form-container {
    height: 320px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 30px;
    gap: 10px;
}

.form-title {
    align-items: center;
    color: #E3C7FF;
    font-size: 18px;
    margin-top: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 230px;
    width: 500px;
    color: aliceblue;
    margin-top: 15px;
    gap: 20px;
}

.form-input {
    color: aliceblue;
    font-size: 14px;
    height: 25px;
    width: 400px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 1px #D4FFFF;
    background-color: transparent;
    padding-left: 10px;
}

.form-button {
    background-color: transparent;
    border: none;
    color: #E3C7FF;
    box-shadow: 0px 0px 5px 1px #E3C7FF;
    width: 110px;
    height: 40px;
    font-size: 14px;
    font-family: "Victor Mono", monospace;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-button:hover {
    transition: 0.4s;
    box-shadow: 0px 0px 7px 4px #E3C7FF;
}