.me-container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
  
.me {
    color: #ADDAFC;
    height: 200px;
    width: 670px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 240px;
    margin-top: 45px;
    margin-bottom: 150px;
} 
  
.me-intro {
    font-size: 40px;
    letter-spacing: 2px;
}
  
.me-name {
    color: #D4FFFF;
    font-size: 70px;
    letter-spacing: 4px;
    font-weight: 900;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.point {
    font-size: 37px;
    font-weight: 700;
    color: rgb(212, 255, 255);
    text-transform:uppercase;
}

.inserction {
    animation-name: inserction;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: inserction;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
  
@-moz-keyframes inserction{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
  
@-webkit-keyframes inserction {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
}
  
@keyframes inserction {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
  
.me-image-container {
    margin-right: 150px;
    padding-top: 25px;
}
  
.me-image {
    width: 700px;
    height: 600px;
    padding-right: 50px;
    filter: drop-shadow(0 0 7px rgba(227, 199, 255));
}


@media (width >= 300px) and (width <= 768px) {

    .me-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        margin-bottom: 0px;
    }

    .me {
        height: 400px;
        width: 350px;
        margin-top: 40px;
        margin-bottom: 0px;
        padding-left: 80px;
        padding-right: 80px;
    } 

    .me-intro {
        font-size: 30px;
        letter-spacing: 1px;
    }
      
    .me-name {
        font-size: 52px;
        letter-spacing: 2px;
        font-weight: 700;
        width: 340px;
        margin-top: 5px;
    }

    .point {
        font-size: 29px;
    }

    .me-image-container {
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-right: 0px;
        padding-top: 0px;
    }

    .me-image {
        width: 420px;
        height: 340px;
    }

}

@media (width >= 768px) and (width <= 1200px) {

    .me-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        margin-bottom: 0px;
    }

    .me {
        height: 400px;
        width: 50%;
        margin-top: 40px;
        margin-bottom: 0px;
        padding-left: 40px;
        padding-right: 40px;
    } 

    .me-intro {
        font-size: 35px;
        letter-spacing: 1px;
    }
      
    .me-name {
        font-size: 62px;
        letter-spacing: 2px;
        font-weight: 700;
        width: 100%;
        margin-top: 5px;
    }

    .point {
        font-size: 34px;
    }

    .me-image-container {
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-right: 0px;
        padding-top: 0px;
    }

    .me-image {
        width: 520px;
        height: 440px;
    }
    
}

@media (width >= 1200px) and (width <= 1500px) {

    .me {
        height: 200px;
        width: 670px;
        padding-left: 120px;
    } 

    .me-intro {
        font-size: 37px;
        letter-spacing: 1.87px;
    }
      
    .me-name {
        font-size: 65px;
        letter-spacing: 3.75px;
        width: 450px;
    }

    .point {
        font-size: 34px;
    }

    .me-image-container {
        margin-right: 150px;
        padding-top: 70px;
    }
      
    .me-image {
        width: 630px;
        height: 540px;
        padding-right: 50px;
    }

}