.title-container {
    color: #D4FFFF;
    height: 30px;
    font-size: 24px;
    letter-spacing: 5px;
    display: flex;
    margin-top: 60px;
    margin-left: 250px;
    margin-bottom: 30px;
    align-items: center;
}
  
.subtitle-container {
    color: #ADDAFC;
    height: 20px;
    font-size: 20px;
    display: flex;
    margin-top: 20px;
    margin-left: 250px;
    margin-bottom: 20px;
    align-items: center;
}

@media (width >= 300px) and (width <= 768px) {

    .title-container {
        font-size: 18px;
        margin-top: 50px;
        margin-left: 40px;
        margin-bottom: 20px;
    }
      
    .subtitle-container {
        font-size: 16px;
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }

}

@media (width >= 768px) and (width <= 1200px) {

    .title-container {
        font-size: 21px;
        margin-top: 50px;
        margin-left: 80px;
        margin-bottom: 20px;
    }
      
    .subtitle-container {
        font-size: 18px;
        margin-top: 20px;
        margin-left: 80px;
        margin-right: 40px;
    }

}

@media (width >= 1200px) and (width <= 1500px) {
    
    .title-container {
        font-size: 21.5px;
        margin-top: 50px;
        margin-left: 140px;
        margin-bottom: 20px;
    }
      
    .subtitle-container {
        font-size: 18.5px;
        margin-top: 20px;
        margin-left: 140px;
        margin-right: 80px;
    }

}