.about-text-container {
    height: auto;
    width: auto;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-top: 40px;
    margin-left: 320px;
    margin-right: 320px;
    margin-bottom: 10px;
}

.about-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.about-image {
    height: 270px;
    width: 300px;
}

@media (width >= 300px) and (width <= 700px) {

    .about-text-container {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
        gap: 12px;
    }
    
    .about-image-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
    }
    
    .about-image {
        height: 270px;
        width: 300px;
        margin-top: -20px;
        margin-bottom: 20px;
    }

}