.contact-image-container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.contact-image {
    height: 270px;
    width: 300px;
}

@media (width >= 300px) and (width <= 768px) {
    
    .contact-image {    
        height: 200px;
        width: 230px;
        margin-top: 20px;
    }

}

@media (width >= 768px) and (width <= 1200px) {
    
    .contact-image {    
        height: 235px;
        width: 265px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

}

@media (width >= 1200px) and (width <= 1500px) {
    
}
