.contact-image-container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.contact-image {
    height: 270px;
    width: 300px;
}

@media (width >= 300px) and (width <= 768px) {

    .contact-container { 
        height: auto;
        width: auto;
    }
    
    .contact-image {    
        height: 180px;
        width: 200px;
        margin-top: 20px;
        margin-bottom: -20px;
    }

}

@media (width >= 769px) and (width <= 1000px) {

    .contact-container { 
        height: auto;
        width: auto;
    }
    
    .contact-image {    
        height: 180px;
        width: 200px;
        margin-top: 20px;
        margin-bottom: -20px;
    }

}