.navbar-container {
    background-color: rgb(0,0,0,0.2);
    color: #ADDAFC;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
  
.section-logo-container{
    display: flex;
    flex: 1.5;
    margin-left: 200px;
}
  
.sections-container {
    display: flex;
    flex: 1.75;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;
}
  
.navbar-items {
    color: aliceblue;
    font-size: 10px;
    letter-spacing: 4px;
    text-decoration: none;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.navbar-items:hover {
    color: #D4FFFF;
    transition: 0.5s;
    transform: scale(110%);
}
  
.navbar-logo {
    color: #D4FFFF;
    font-size: 18px;
    font-weight: 900;
    width: 45px;
}
  
.navbar-icons {
    height: 18px;
    width: 18px;
    padding-right: 7px;
}

.navbar-flags-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 22px;
    gap: 5px;
}

.uk-container {
    height: 25px;
    width: 25px;
}

.sp-container {
    height: 25px;
    width: 25px;    
}

.flags-button {
    height: 22px;
    width: 22px;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.navbar-flags {
    height: 22px;
    width: 22px;
    padding-right: 7px;
}

@media (width >= 300px) and (width <= 700px) {

    .navbar-container {
        height: 50px;
        width: 430px;
        top: 0;
        position: fixed;
    }

    .section-logo-container{
        display: flex;
        flex: 1.5;
        margin-left: 20px;
    }

    .sections-container {
        display: flex;
        flex: 1.5;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: -20px;
    }


    .navbar-logo {
        color: #D4FFFF;
        font-size: 14px;
        font-weight: 900;
        width: 45px;
    }

    .navbar-icons {
        height: 14px;
        width: 14px;
        padding-right: 7px;
    }

    .navbar-items {
        color: aliceblue;
        font-size: 8px;
        letter-spacing: 4px;
        text-decoration: none;
        outline: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}