.footer-container {
    background-color: rgb(0, 0, 0, 0.2);
    height: 60px;
    width: 100%;  
    position: absolute;
    bottom: 0;
    padding-bottom: 40px;
}
  
.footer-icons-container {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 40px;
}
  
.footer-icons {
    height: 35px;
    width: 35px;
    margin-bottom: 20px;
}
  
span {
    height: 35px;
    width: 50px;
}
  
.copyright-container {
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
  
.copyright-signature {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.copyright-icons {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.copyright-text {
    color: aliceblue;
    align-content: center;
}

@media (width >= 300px) and (width <= 768px) {

    .footer-container {
        height: 40px;
        width: auto;
        position: static;
        bottom: 0;
        left: 0;
        z-index: 1000;   
    }

    .footer-icons-container {
        gap: 30px;
    }

    .footer-icons {
        height: 28px;
        width: 28px;
        margin-top: 30px;
    }

    .copyright-container {
        font-size: 10px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .copyright-signature {
        flex: 1.8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .copyright {
        flex: 1.4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .copyright-text {
        gap: 40px;
    }

    .copyright-icons {
        flex: 0.2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}